.main__mywork {
    display: grid;
    grid-template-rows: 10% 1fr;
    height: 100vh;
    width: 100%;
  }
  
  .contentWrapper-mywork {
    grid-row: 2/3;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .navBar-mywork {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  
  
  .card{
      width:30%;
      height: 40%;
  }
  
  
 
  